@model PostUpload.ImageTable

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

@using (Html.BeginForm("Upload", "Image", FormMethod.Post, new{enctype="multipart/form-data"}))
{
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>
                Select file:
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.File, new {type="file" })
                @Html.ValidationMessage("CustomError")
            </td>
            <td>
                <input type="submit" value="Upload" />
            </td>
        </tr>
    </table>
}